django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
pillow
python-decouple
gunicorn
dj-database-url
psycopg2-binary
whitenoise
django-redis
django-cloudinary-storage
cloudinary
sentry-sdk
posthog
PyMuPDF
python-docx
celery
redis
